- if @post.errors.any?
  #error_explanation
    %h2
      = pluralize(@post.errors.count, "error")
      prohibited this post from being saved:
    %ul
      - @post.errors.full_messages.each do |msg|
        %li= msg


= form_for @post do |p|
  = p.label :title, 'Title:'
  = p.text_field :title 
  %br

  = p.label :body, 'Body:'
  = p.text_field :body
  %br

  = p.submit