- if @post.errors.any?
  #error_explanation
    %h2
      = pluralize(@post.errors.count, "error")
      prohibited this post from being saved:
    %ul
      - @post.errors.full_messages.each do |msg|
        %li= msg


= form_for @post do |p|
  .row.collapse
    .small-9.small-offset-3.columns.text-center
      - if @post.title == nil
        %h3 Create New Post
      - if @post.title != nil
        %h3 Edit Post
  .row.collapse
    .small-3.columns
      = p.label :title, 'Title:', class: "right inline"
    .small-9.columns
      = p.text_field :title
  .row.collapse
    .small-3.columns
      = p.label :author, 'Author:', class: "right inline"
    .small-9.columns
      = p.text_field :author
  .row.collapse
    .small-3.columns
      = p.label :body, 'Body:', class: "right inline"
    .small-9.columns
      = p.text_area :body
  .row
    .small-9.small-offset-6.columns
      = p.submit